@charset "UTF-8";
@import url('common.css');

#f-page {
    position: relative;
    overflow: hidden;
	/*    opacity: 0.8;*/
	.tbox {
		position: relative;
		top: 0;
		width: 100%;
		height: 700px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.main{width: 100%; text-align: center; margin: 0 auto; padding: 50px;
	h2{span{text-align: center;}}
ul{li{a{text-align: center;} }}
.mtb{ position: relative; text-align: center;
	.tb_1{position: absolute; left: 50%; top: 50%; translate: (-50% -50%);
		table{
thead{
tr{
	th{}
}
}
tbody{
	tr{
		td{}
	}
}
}


	}
	.tb_2{position: absolute; left: 50%; top: 50%; translate: -50% -50%;
		table{
		thead{
		tr{
			th{}
		}
		}
		tbody{
			tr{
				td{}
			}
		}
				}}}


}


