@import url("common.css");

#f-page {
    position: relative;
    overflow: hidden;
    /*    opacity: 0.8;*/
}

#f-page .tbox {
    position: relative;
    top: 0;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

#f-page .tbox img {
    width: 100%;
    height: 100%;
}


/*===================================*/

.contents .mtb {
    width: 60%;
    margin: 0 auto;
}

.contents .mtb ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents .mtb ul li {

    display: inline;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 50px;
}

.contents h2 {
    text-align: center;
    padding: 80px;
}

.contents .room {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 100px 0;
    position: relative;
}

.contents .room div:nth-of-type(1) {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.contents .room div:nth-of-type(1) figure {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.contents .room div:nth-of-type(1) figure img {
    width: 100%;
}

.contents .room > p {}

.contents .room > p button {
    position: absolute;
    border: none;
    font-size: 30px;
    background: none;
    color: black
}

.contents .room > p button:nth-of-type(1) {
    left: 0;
    top: 38%;
}

.contents .room > p button:nth-of-type(2) {
    right:50.5%;
    top: 38%;
}

.contents .room .info {
    width: 100%;
    padding: 20px 0 0 30px;
}

.contents .room .info h3 {
    padding-bottom: 20px;
}

.contents .room .info p {
    white-space: pre-line;
    line-height: 2em;
}

.contents .room .info .button {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.contents .room .info .button a {
    width: 100%;
    padding-right: 20px;
    text-align: right;
    display: inline-block;
    border-radius: 10px;
    margin: 30px auto;
    color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
    font-size: 15px;
    background: #323842;
    line-height: 2;
}

.contents .room .info .button a:hover {
    background: white;
    color: #323842;
    border: 1px solid #323842;
}

.contents .slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contents .slide .slide_show {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contents .slide .slide_show li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 50;
}

.contents .slide .slide_show li .active {
    z-index: 100;
}

.contents .slide .arrow {
    position: absolute;
    top: 50%;
    margin-top: -42px;
    z-index: 300;
}

.contents .slide .arrow a {
    display: block;
}

.contents .slide .prev {
    left: 0;
}

.contents .slide .next {
    right: 0;
}

.contents .slide .nav {
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 300;
}

.contents .slide .nav li {
    float: left;
    width: 16px;
    height: 33px;
    margin-right: 5px;
}

.contents .slide .nav li a {
    width: 8px;
    height: 33px;
    display: block;
    background: url(http://gonylab5.speedgabia.com/havet/final/images/blt_row.png) no-repeat left top;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
}

.contents .slide .nav li a .active {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
    -webkit-transition: rotate(-24deg);
    -moz-transition: rotate(-24deg);
}

/*# sourceMappingURL=room.css.map */
