@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
}

ul,
li {
    list-style: none;
    margin: 0;
}

h2 {
    margin: 0;
}

#f-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.pW {
    width: 100%;
    left: 0;
    top: 0;
    transition: 1s;
}

.pW div {
    height: 100vh;
}

.pW div img {
    width: 100%;
}

.pW div:nth-of-type(2n) {
    background: #eee;
}


#f-page .tbox {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    visibility: visible;
    overflow: hidden;
}

#f-page .tbox img {
    width: 100%;
    height: 100vh;
}


#f-page .nav_btn {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
}

#f-page .nav_btn .arrow {
    width: 65px;
    height: 104px;
}

#f-page .nav_btn .arrow a {
    display: block;
    height: 52px;
}

#f-page .nav_btn .arrow img {
    width: 65px;
    height: 52px;
}

#f-page .nav_btn ul {
    width: 32px;
    margin: 10px auto 25px;
}

#f-page .nav_btn ul li {
    display: block;
    width: 32px;
    height: 18px;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
}

#f-page .nav_btn ul li.active {
    transform: rotate(-20deg);
    -webkit-transition: rotate(-20deg);
    -moz-transition: rotate(-20deg);
    -o-transition: rotate(-20deg);
}


/*=======================*/


    footer {
/*        overflow: visible;*/
        position: relative;
        left: 0;
        bottom: 50%;
        width: 100%;
        padding: 50px 0;
        background: #323842;
        z-index: 200;
    }

    /*
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: white;
    background: blue;
}
*/


    .foot {
        width: 100%;
        margin: 0 auto;
    }

    .foot h3 {
        width: 250px;
        margin: 0 auto;
    }

    .foot h3 a {}

    .foot h3 a img {}

    .foot address {
        padding: 35px 0 25px;
        text-align: center;
        white-space: pre-line;
        color: white;
    }

    .foot .f-sns {
        width: 30px;
        height: 30px;
        margin: 0 auto;
        padding-bottom: 25px;
        overflow: hidden;
    }

    .foot .f-sns a {
        display: block;
        float: left;
        width: 100%;
    }

    .foot .f-sns a img {
        display: block;
        width: 30px;
        margin: 0 auto;
    }

    .top_btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 100;
    }

    .top_btn a {
        display: block;
    }

    .top_btn a img {}
